@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --primary: rgba(17,25,40,0.75)
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("../public/bg.jpg"); 
}


@layer components {
  .message {
     @apply max-w-[70%] flex gap-4
  }

  .own{
    @apply self-end
  }

  .formInput{
    @apply p-5 border-none outline-none bg-darkBlue text-white rounded-md
  }

  .formButton{
    @apply w-full p-5 border-none outline-none bg-[#1f8ef1] text-white rounded-md cursor-pointer font-bold hover:bg-[#1f8ff1ed] transition-all
  }
  .btnDisabled{
    @apply opacity-50 cursor-not-allowed
  }
}